{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">CENNIK</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p>Nie znalazłeś swojego telefonu lub wyceny usterki?</p>
            <p>Wyślij wiadomość z modelem i opisem usterki! Odpowiadamy błyskawicznie!</p>
            <h5><a class="btn btn-outline-dark btn-lg animate__heartBeat" style="animation-delay: 3s"
                   href="mailto:kontakt@diphone.pl" class="tel-mail">Skontaktuj się z nami już teraz!</a></h5>

        </div>


        <div class="col-sm-2"></div>
    </div>
</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}