{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">OFERTA DLA FIRM</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="animate__animated animate__backInLeft" style="animation-delay: 1s">
                <br>
                <img class="img-fluid" src="/static/images/for_company/fixed.png">
            </div>
        </div>

        <div class="col-sm-4">
            <p class="p-par" style="text-align: justify">
                Firma <strong>DiPHONE</strong> zaprasza do współpracy Klientów Biznesowych i Przedstawicieli Sieci.
                Skontaktuj się z Nami, by uzyskać informacje dotyczące napraw i cen skupu oraz konkurencyjne warunki
                współpracy! Potrzebujesz sprzętu dla swojej Firmy? Wyjdziemy naprzeciw Twoim oczekiwaniom i potrzebom.
            </p>

        </div>

        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 1s">
                <br>
                <img class="img-fluid" src="/static/images/for_company/fixed2.png">
            </div>
        </div>
        <h5><br><a class="btn btn-outline-dark btn-lg animate__heartBeat p-par" style="animation-delay: 3s"
                   href="kontakt">
            Skontaktuj się z nami już teraz!</a></h5>
    </div>

    <br>
    <div class="row">
        <h2 class="h2-titles-shadow">CO NAS WYRÓŻNIA?</h2>
        <div class="col-sm-4">
            <h4 class="h4-titles">DOŚWIADCZENIE</h4>
            <img class="animate__animated animate__zoomIn" src="static/images/for_company/experience.png"
                 style="height: 100px; animation-delay: 1s">
            <p class="p-par" style="text-align: justify">DiPHONE z sukcesem funkcjonuje na rynku od kilku lat.
                Elektronika stanowi naszą wieloletnią pasję; przez lata, jeszcze przed założeniem firmy, poszerzaliśmy
                wiedzę w jej zakresie i zdobywaliśmy umiejętności związane z naprawą telefonów i sprzedaży części
                zamiennych. Powierzając Swój sprzęt w nasze ręce lub kupując go w naszym skupie, masz gwarancję
                profesjonalizmu popartego doświadczeniem.</p>
        </div>
        <div class="col-sm-4">
            <h4 class="h4-titles">RZETELNOŚĆ</h4>
            <img class="animate__animated animate__zoomIn" src="static/images/for_company/reliability.png"
                 style="height: 100px; animation-delay: 2s">
            <p class="p-par" style="text-align: justify">Zaufanie klienta chcemy zdobywać, oferując mu najwyższą jakość
                produktu w
                możliwie jak najniższej cenie. Jeśli zauważysz jakąkolwiek nieprawidłowość w zakupionym sprzęcie,
                możesz się z nami skontaktować w każdej chwili – naprawimy ją w natychmiastowym tempie.</p>
        </div>
        <div class="col-sm-4">
            <h4 class="h4-titles">KONKURENCYJNE CENY</h4>
            <img class="animate__animated animate__zoomIn" src="static/images/for_company/competetive.png"
                 style="height: 100px; animation-delay: 3s">
            <p class="p-par" style="text-align: justify">Warszawa to miasto, w którym znajdziesz sporo serwisów – jednak
                podstawą
                naszej działalności są konkurencyjne ceny, dopasowane na każdą kieszeń. Firma, którą prowadzimy, stawia
                sobie za priorytet uczciwość. Świadomi zawirowań na rynku, dbamy o to, by oferować naszym klientom
                usługi na najwyższym poziomie jakościowym z adekwatną ceną. Każdego traktujemy indywidualnie!</p>
        </div>
    </div>

    <br>
    <div class="row">
        <h2 class="h2-titles-shadow">CO OFERUJEMY?</h2>
        <div class="col-sm-3">
            <h5 class="h5-titles">SERWIS FLOTY</h5>
            <p class="p-par" style="text-align: justify">Kompleksowa obsług dla firm w zakresie serwisu technicznego
                telefonów komórkowych. Posiadamy specjalistów, którzy realizują naprawy w trybie
                ekspresowym.</p>
        </div>
        <div class="col-sm-3">
            <h5 class="h5-titles">DOOR-TO-DOOR</h5>
            <p class="p-par" style="text-align: justify">Istnieje możliwość wykonania naprawy na odległość. Nasz kurier
                odbierze od
                Ciebie przesyłkę z zabezpieczonym urządzeniem, a po naprawie dostarczy z powrotem.</p>
        </div>
        <div class="col-sm-3">
            <h5 class="h5-titles">INDYWIDUALNA WYCENA</h5>
            <p class="p-par" style="text-align: justify">W przypadku klientów biznesowych istnieje możliwość
                indywidualnej wyceny. Aby
                dowiedzieć się o szczegółach prosimy o kontakt.</p>
        </div>
        <div class="col-sm-3">
            <h5 class="h5-titles">PRIORYTET ZLECEŃ</h5>
            <p class="p-par" style="text-align: justify">Na życzenie możemy dokonać ekspresowej naprawy Twojego
                telefonu. Zapytaj o
                szczegóły telefonicznie lub w serwisie.</p>
        </div>
    </div>
</div>

<br>
<div>
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/huawei.png"
         style="height: 50px; padding: 5px; animation-delay: 100ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/samsung.png"
         style="height: 50px; padding: 5px; animation-delay: 500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/apple.png"
         style="height: 50px; padding: 5px; animation-delay: 1000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/xiaomi.png"
         style="height: 50px; padding: 5px; animation-delay: 1500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/sony.png"
         style="height: 50px; padding: 5px; animation-delay: 2000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/lg.png"
         style="height: 50px; padding: 5px; animation-delay: 2500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/lenovo.png"
         style="height: 50px; padding: 5px; animation-delay: 3000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/hp.png"
         style="height: 50px; padding: 5px; animation-delay: 3500ms">

</div>

<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}