{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">PLIKI DO POBRANIA</h1>


<div class="container-fluid text-center">
    <div class="row">
        <a class="h3-titles" style="color: black">REGULAMIN
            PRZYJĘCIA SPRZĘTU DO SERWISU</a>
        <a class="h3-titles" style="color: black">PROTOKÓŁ
            PRZYJĘCIA SPRZĘTU DO SERWISU</a>
        <a class="h3-titles" style="color: black">UMOWA SKUPU SPRZĘTU
            ELEKTRONICZNEGO</a>
        <a class="h3-titles" style="color: black">UMOWA SPRZEDAŻY SPRZĘTU
            ELEKTRONICZNEGO</a>
        <a class="h3-titles" style="color: black">DOWÓD SPRZEDAŻY SPRZĘTU
            ELEKTRONICZNEGO</a>
    </div>
</div>

<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}