{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">O NAS</h1>


<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 animate__animated animate__rubberBand" style="animation-delay: 1s">
            <img class="img-fluid" src="/static/images/about_us/man.png">
        </div>
        <div class="col-md-4">
            <p class="p-par">
                Firma <strong>DiPHONE</strong> to zespół ludzi, połączonych pasją do wszelkiego rodzaju elektroniki. Od
                najmłodszych lat nasi Współpracownicy poznawali świat technologii poprzez zabawę i majsterkowanie, co w
                późniejszym czasie przerodziło się w stworzenie profesjonalnej firmy.
            </p>
            <p class="p-par">
                W ramach naszych usług oferujemy kompleksowy serwis telefonów komórkowych, smartfonów, tabletów oraz
                innych urządzeń mobilnych. Posiadamy kilkuletnie doświadczenie w zakresie napraw, dlatego nasze
                usługi wykonywane są z najwyżą jakością i starannością. Naszą główną dewizą jest PROFESJONALIZM.
            </p>
            <p class="p-par">
                Poza serwisem urządzeń zajmujemy się także skupem i sprzedażą urządzeń. Nasza firma posiada także
                akcesoria do Twojego telefonu!
            </p>
            <p class="p-par" style="text-align: right">Zapraszamy serdecznie</p>
            <p class="p-signature" style="text-align: right; margin-top: -30px">Zespól DiPHONE</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}