{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">REGULAMIN</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="h5-titles">ŚWIADCZENIA USŁUG NAPRAWCZYCH <span
                    class="h5-titles-shadow">DiPHONE Dawid Orzepowski</span>
            </h4>

            <!--             POSTANOWIENIA OGÓLNE -->
            <p class="p-politics-title"><strong>§1 POSTANOWIENIA OGÓLNE:</strong></p>
            <p class="p-politics">
                <img src="static/images/service/check.png" style="height: 20px"> 1. Niniejszy Regulamin określa zasady i
                warunki świadczenia usług serwisowych sprzętu elektronicznego (w szczególności telefonów komórkowych,
                smartfonów, komputerów, laptopów, tabletów) przez firmę <strong>DiPHONE Dawid Orzepowski</strong> z
                siedzibą przy ul. Hetmańskiej 59, 05-120 Legionowo, zwaną dalej Serwisem.
            </p>
            <p class="p-politics">
                <img src="static/images/service/check.png" style="height: 20px"> 2. Miejscem przyjmowania i wydawania
                sprzętu przez Serwis jest adres siedziby firmy, chyba że miejsce zostało ustalone i pisemnie
                potwierdzone indywidualnie ze Zleceniodawcą.
            </p>


        </div>
    </div>
</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}