{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">SERWIS</h1>
<br>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
        </div>

        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
            <div class="row">
                <p>A</p>
            </div>
        </div>
    </div>

</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}