{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">SERWIS</h1>
<br>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <hr>

            <!-- NAPRAWA OPROGRAMOWANIA -->
            <div class="row">
                <p type="button" class="p-par-service" style="text-align: right" data-toggle="modal"
                   data-target="#naprawaOprogramowania">NAPRAWA OPROGRAMOWANIA</p>
                <div class="modal fade p-par" id="naprawaOprogramowania" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5-titles-shadow modal-title" id="exampleModalLabel1">NAPRAWA
                                    OPROGRAMOWANIA</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><img src="static/images/service/check.png" style="height: 20px"> Naprawa
                                    oprogramowania, softu, aktualizacja zablokowanego telefonu</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Odblokowanie konta
                                    Google</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Rootowanie softu,
                                    Upgrade i downgrade systemu operacyjnego</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">ZAMKNIJ</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- ŚCIĄGANIE SIMLOCKA -->
            <div class="row">
                <p type="button" class="p-par-service" style="text-align: right" data-toggle="modal"
                   data-target="#sciaganieSimlocka">ŚCIĄGANIE SIMLOCKA</p>
                <div class="modal fade p-par" id="sciaganieSimlocka" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5-titles-shadow modal-title" id="exampleModalLabel2">ŚCIĄGANIE SIMLOCKA</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><img src="static/images/service/check.png" style="height: 20px"> Odblokowanie kodu
                                    simlock</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Odblokowanie kodu
                                    sieci</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Odblokowanie blokady
                                    operatora</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">ZAMKNIJ</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- NAPRAWA ZASIĘGU -->
            <div class="row">
                <p type="button" class="p-par-service" style="text-align: right" data-toggle="modal"
                   data-target="#naprawaZasiegu">NAPRAWA ZASIĘGU</p>
                <div class="modal fade p-par" id="naprawaZasiegu" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel3"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5-titles-shadow modal-title" id="exampleModalLabel3">NAPRAWA ZASIĘGU</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><img src="static/images/service/check.png" style="height: 20px"> Naprawa zasięgu GSM
                                    oraz WiFi</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Naprawa problemu z
                                    zasięgiem</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">ZAMKNIJ</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- NIETYPOWY PRZYPADEK -->
            <div class="row">
                <p type="button" class="p-par-service" style="text-align: right" data-toggle="modal"
                   data-target="#nietypowyPrzypadek">NIETYPOWY PRZYPADEK</p>
                <div class="modal fade p-par" id="nietypowyPrzypadek" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel4"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5-titles-shadow modal-title" id="exampleModalLabel4">NIETYPOWY
                                    PRZYPADEK</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><img src="static/images/service/check.png" style="height: 20px"> Nietypowy przypadek
                                    usterki to dla nas wyzwanie!</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Staramy się
                                    rozwiązać każdy problem!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">ZAMKNIJ</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- PROFESJONALNY SERWIS NAPRAWCZY-->
            <div class="row">
                <p type="button" class="p-par-service" style="text-align: right" data-toggle="modal"
                   data-target="#profesjonalnySerwisNaprawczy">PROFESJONALNY SERWIS NAPRAWCZY</p>
                <div class="modal fade p-par" id="profesjonalnySerwisNaprawczy" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel5"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="h5-titles-shadow modal-title" id="exampleModalLabel5">PROFESJONALNY SERWIS
                                    NAPRAWCZY</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><img src="static/images/service/check.png" style="height: 20px"> Najwyższa jakość
                                    usług!</p>
                                <p><img src="static/images/service/check.png" style="height: 20px"> Dla nas nie ma
                                    rzeczy niemożliwych!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">ZAMKNIJ</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <hr>
        </div>


        <div class="col-sm-4">
            <div class="row">
                <img src="static/images/service/smartphones.png" style="width: 500px">
            </div>
        </div>

        <div class="col-sm-4">
            <hr>
            <div class="row">
                <p class="p-par" style="text-align: left">WYMIANA ELEMENTÓW AUDIO</p>
            </div>
            <div class="row">
                <p class="p-par" style="text-align: left">WYMIANA WYŚWIETLACZA</p>
            </div>
            <div class="row">
                <p class="p-par" style="text-align: left">WYMIANA PANELU DOTYKOWEGO</p>
            </div>
            <div class="row">
                <p class="p-par" style="text-align: left">NAPRAWA PO ZALANIU</p>
            </div>
            <div class="row">
                <p class="p-par" style="text-align: left">NAPRAWA PO UPADKU</p>
            </div>
            <hr>
        </div>
    </div>

</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}