{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">SKUP</h1>

<br>

<div class="container">
    <div class="row">
        <p>Chcesz sprzedać swój smartfon? Męczy Cię wystawianie ogłoszeń w internecie? Nie zwlekaj! Napisz do Nas!
            Zapewniamy fachową obsługę oraz bezpieczeństwo transakcji. Pieniądze otrzymasz od ręki!</p>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">SPRAWNIE</h2>
            <p>Sprzedać i zapomnieć? Jasna sprawa. Smartfony wyceniamy na miejscu, a pieniądze otrzymasz od ręki.</p>
        </div>

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">BEZPIECZNIE</h2>
            <p>Olx czy allegro? Możesz ale nie musisz. U nas będzie szybciej i bez rozczarowań!</p>
        </div>

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">ŚWIETNA CENA</h2>
            <p>Oczywiście, może mniej niż na Allegro- w końcu i my na tym zarabiamy. Ale uczciwie dla obu stron!</p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <br>
                <h5><a class="btn btn-outline-dark btn-lg animate__heartBeat" style="animation-delay: 2s"
                       href="/cennik-pozostale">NAPISZ DO NAS!</a></h5>
                <br>
            </div>
        </div>
    </div>

</div>


</div>


<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}