{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">SKUP</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p class="p-par">Chcesz sprzedać swój smartfon? Męczy Cię wystawianie ogłoszeń w internecie? Nie
                zwlekaj! Napisz do Nas!
                Zapewniamy fachową obsługę oraz bezpieczeństwo transakcji. Pieniądze otrzymasz od ręki!</p>
        </div>
        <div class="col-sm-4">
            <img class="animate__animated animate__zoomIn" src="static/images/purchase/used_phones.png"
                 style="height: 200px">
        </div>
        <div class="col-sm-4">
            <p class="p-par">Skupujemy używane telefony wszystkich marek ze zbitymi ekranami i innymi
                uszkodzeniami. Sprzedaj
                nam swój stary używany telefon i wymień go na nowy z oferty DiPHONE! Oprócz skupu telefonów
                używanych prowadzimy skup telefonów nowych, dołączanych przy przedłużanej umowie telefonów na
                abonament.</p>
        </div>
    </div>

    <br>
    <div class="row">

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">SPRAWNIE</h2>
            <img class="animate__animated animate__zoomIn" src="static/images/purchase/fast.png"
                 style="height: 100px; animation-delay: 1s">
            <p class="p-par">Sprzedać i zapomnieć? Jasna sprawa. Smartfony wyceniamy na miejscu, a pieniądze otrzymasz
                od ręki.</p>
        </div>

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">BEZPIECZNIE</h2>
            <img class="animate__animated animate__zoomIn" src="static/images/purchase/safe.png"
                 style="height: 100px; animation-delay: 2s">
            <p class="p-par">Olx czy allegro? Możesz ale nie musisz. U nas będzie szybciej i bez rozczarowań!</p>
        </div>

        <div class="col-sm-4">
            <h2 class="h2-titles-shadow">ŚWIETNA CENA</h2>
            <img class="animate__animated animate__zoomIn" src="static/images/purchase/great_price.png"
                 style="height: 100px; animation-delay: 3s">
            <p class="p-par">Oczywiście, może mniej niż na Allegro- w końcu i my na tym zarabiamy. Ale uczciwie dla obu
                stron!</p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <br>
                <h5><a class="btn btn-outline-dark btn-lg animate__heartBeat p-par" style="animation-delay: 2s"
                       href="/cennik-pozostale">NAPISZ DO NAS!</a></h5>
                <br>
            </div>
        </div>
    </div>

</div>




<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}