{% extends "pl_layout.html" %}

{% block content %}
<h1 class="h1-titles mb-3">SKLEP</h1>
<div class="container">

    <br>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="h2-titles-shadow">TELEFONY - NOWE I UŻYWANE</h3>
            <hr>
            <p class="p-par" style="text-align: justify">Twój telefon odmówił posłuszeństwa lub zakończył swój żywot? A
                może po prostu potrzebujesz zmiany? W naszej ofercie znajdują się zarówno nowe, jak i używane telefony.
            </p>
            <h5><a class="btn btn-outline-dark btn-lg animate__heartBeat p-par" style="animation-delay: 2s"
                       href="www.diphone.olx.pl">SPRAWDŹ DOSTĘPNE TELEFONY!</a></h5>
        </div>
        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 0.5s">
                <br>
                <img class="img-fluid" style="height: 200px" src="/static/images/sales/phones.png">
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 1s">
                <br>
                <img class="img-fluid" style="height: 200px" src="/static/images/sales/cases.png">
            </div>
        </div>

        <div class="col-sm-8">
            <h3 class="h2-titles-shadow">ETUI</h3>
            <hr>
            <p class="p-par" style="text-align: justify">W naszej firmie znajdziecie całe mnóstwo akcesoriów do urządzeń
                mobilnych. W
                swojej ofercie posiadamy duży wybór etui do smartfonów - zarówno do telefonów wiodących producentów, jak
                i urządzeń mniej znanych marek.</p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="h2-titles-shadow">OCHRONA EKRANU</h3>
            <hr>
            <p class="p-par" style="text-align: justify">Dla dopełnienia ochrony urządzeń mobilnych poza etui do wyboru
                mamy ogrom
                ochron ekranu - od zwykłych folii ochronnych poprzez szkła hybrydowe będące połączeniem
                twardości i wytrzymałości na zarysowania szkła, a posiadające giętkość folii. W oferie znajdują się
                od podstawowych wariantów ochrony do szkieł premium zapewniających zabezpieczenie nawet najnowszych,
                zagiętych ekranów smartfonów.</p>
        </div>
        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 1.5s">
                <br>
                <img class="img-fluid" style="height: 200px" src="/static/images/sales/glass.png">
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 2s">
                <br>
                <img class="img-fluid" style="height: 200px" src="/static/images/sales/cables.png">
            </div>
        </div>
        <div class="col-sm-8">
            <h3 class="h2-titles-shadow">ŁADOWARKI / KABLE</h3>
            <hr>
            <p class="p-par" style="text-align: justify">Uszkodziła Ci się ładowarka, a może kabel ładowarki odmówił
                posłuszeństwa?
                Posiadamy na stanie ładowarki nawet do nieprodukowanych już od dawna telefonów - nie ważne czy to stara
                Nokia, LG czy Sony
                Ericsson, lub najnowszy smartfon Xiaomi bądź Samsung z funkcją szybkiego, bądź bezprzewodowego ładowania
                i portem USB typu C - u nas dobierzesz coś dla siebie.</p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="h2-titles-shadow">INNE AKCESORIA</h3>
            <hr>
            <p class="p-par" style="text-align: justify">Mamy także akcesoria dla zmotoryzowanych, czyli wszelkiego
                rodzaju ładowarki
                samochodowe, uchwyty do telefonów i tabletów, a także zestawy głośnomówiące oraz słuchawki bluetooth.
                Poza tym w naszym sklepie znajdą państwo także karty pamięci, słuchawki do telefonów.</p>
        </div>
        <div class="col-sm-4">
            <div class="animate__animated animate__backInRight" style="animation-delay: 2.5s">
                <br>
                <img class="img-fluid" style="height: 200px" src="/static/images/sales/accesories.png">
            </div>
        </div>
    </div>
</div>


<br>
<div>
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/huawei.png"
         style="height: 50px; padding: 5px; animation-delay: 100ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/samsung.png"
         style="height: 50px; padding: 5px; animation-delay: 500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/apple.png"
         style="height: 50px; padding: 5px; animation-delay: 1000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/xiaomi.png"
         style="height: 50px; padding: 5px; animation-delay: 1500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/sony.png"
         style="height: 50px; padding: 5px; animation-delay: 2000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/lg.png"
         style="height: 50px; padding: 5px; animation-delay: 2500ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/lenovo.png"
         style="height: 50px; padding: 5px; animation-delay: 3000ms">
    <img class="animate__animated animate__zoomIn" src="/static/images/main_page/logo/hp.png"
         style="height: 50px; padding: 5px; animation-delay: 3500ms">

</div>

<!-- FOOTER -->
<footer>
    <br>
    <h1 class="h1-titles"><br></h1>
    <br>
    <br>
</footer>

{% endblock %}